@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

.crud {
  background-color: white;
}

.crud a {
  text-decoration: none;
  border: 2px solid yellow;
  padding: 3px 20px;
  color: yellow;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.5s;
  background-color: yellow;
  color: black;
  box-shadow: rgba(3, 3, 3, 0.384) 0px 7px 29px 0px;
}

.fs-3 {
  font-weight: 700;
}
